<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta http-equiv=”X-UA-Compatible” content=”IE=edge,chrome=1″/>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="format-detection" content="telephone=no">
        <link rel="shortcut icon" href="../../images/favicon.ico" type="/image/x-icon">
        <link rel="apple-touch-icon-precomposed" href="http://a.tbcdn.cn/mw/s/hi/tbtouch/images/touch-icon.png">
        <title>陪伴星球VR</title>
    
        <link rel="stylesheet" media="all" href="//cdn.amazeui.org/amazeui/2.7.2/css/amazeui.min.css" />
        <!-- <link href="//vjs.zencdn.net/5.19/video-js.min.css" rel="stylesheet"> -->
        <link rel="stylesheet" media="all" href="../../css/index-mobile.css" />
        <link rel="stylesheet" media="all" href="../../css/detail-mobile.css" />
    
    </head>
<body>
    <div class="detail-contion">
        <div class="article-contain">
            <div class="a-title">
                <p class="a-ti">形象屋大改造，只想要你美美美分类</p>
                <p class="a-t">12-12</p>
            </div>
            <div class="a-d">
                测试测试 测试测试 测试测试 测试测试 测试测试 测试测试 测试测试 测试测试 测试测试 测试测试 测试测试 测试测试 测试测试 测试测试 测试测试 测试测试 测试测试 测试测试 测试测试 测试测试 测试测试 测试测试 测试测试 测试测试 测试测试
            </div>
            <div class="change-page pr">
                <a class="pre">《&nbsp;上一篇</a>
                <a class="after">下一篇&nbsp;》</a>
            </div>
        </div>
        <footer class="footer mt-20">
            <div class="footer-img">
                <img src="../../images/logo2.png" class="" alt="">
            </div>
            <ul class="footer-tip">
                <li>健康游戏忠告：抵制不良游戏，拒绝盗版游戏。 注意自我保护，谨防受骗上当。 适度游戏益脑，沉迷游戏伤身。 合理安排时间，享受健康生活。</li>
                <li>适龄提示：本游戏适合14岁（含）以上玩家娱乐</li>
                <li>联系方式：官方Q群：131604771，官方微博@陪伴星球VR</li>
            </ul>
            <p class="after-tip">
                    Copyright © 2015 naochuanyue.com All Reserved深圳脑穿越科技有限公司 版权所有 网站备案/许可证：粤ICP 17101251号                    
            </p>
            <p class="after-tip">使用本网站表示接受脑穿越用户协议</p>
        </footer>
    </div>
</body>
</html>