<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv=”X-UA-Compatible” content=”IE=edge,chrome=1″/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="shortcut icon" href="../../images/favicon.ico" type="/image/x-icon">
    <link rel="apple-touch-icon-precomposed" href="http://a.tbcdn.cn/mw/s/hi/tbtouch/images/touch-icon.png">
    <title>陪伴星球VR</title>

    <link rel="stylesheet" media="all" href="//cdn.amazeui.org/amazeui/2.7.2/css/amazeui.min.css" />
    <link href="//vjs.zencdn.net/5.19/video-js.min.css" rel="stylesheet">
    <link rel="stylesheet" media="all" href="../../css/index-mobile.css" />

</head>

<body>
    <div class="am-container">
        <div class="title-img">
            <img src="../../images/logo1.png" />
        </div>
        <div class="am-g">
            <img src="../../images/shouye_banner1.jpg" class="am-img-responsive image-full" alt="陪伴星球VR-banner" />
            <div class="fixed-banner">
                <div class="w_50 d-iflex f-s btn-gruop">
                    <a class="btn-vr btn-ios">
                        IOS下载
                    </a>
                    <a  class="btn-vr btn-android ">
                        安卓下载
                    </a>
                </div>
                <div class="p-a b-0 r-0 d-iflex f-e title-down">
                    <img src="../../images/yidong_logo.png" alt="logo">
                </div>
                <i class="close-btn" id="closeBtn"></i>
            </div>
            <div data-am-widget="slider" class="am-slider am-slider-a1 mt-10" id="slide-bar" data-am-slider='{&quot;directionNav&quot;:false}'>
                <ul class="am-slides">
                    <li>
                        <img src="../../images/shouye_banner2.jpg">
                    </li>
                    <li>
                        <img src="../../images/shouye_banner2.jpg">
                    </li>
                    <li>
                        <img src="../../images/shouye_banner2.jpg">
                    </li>
                </ul>
            </div>
            <div data-am-widget="tabs" class="am-tabs am-tabs-d2 am-tabs-extend">
                <ul class="am-tabs-nav am-cf">
                    <li class="am-active">
                        <a href="[data-tab-panel-0]">最新</a>
                    </li>
                    <li class="">
                        <a href="[data-tab-panel-1]">资讯</a>
                    </li>
                    <li class="">
                        <a href="[data-tab-panel-2]">公告</a>
                    </li>
                    <li class="">
                        <a href="[data-tab-panel-2]">活动</a>
                    </li>
                </ul>
                <div class="am-tabs-bd">
                    <div data-tab-panel-0 class="am-tab-panel am-active">
                        <ul class="news">
                            <li>
                                <a href="./detail.html">【资讯】陪伴星球VR,开放公测啦！</a>
                                <span>2016-2-1</span>
                            </li>
                            <li>
                                <a>【资讯】陪伴星球VR,开放公测啦！</a>
                                <span>2016-2-1</span>
                            </li>
                            <li>
                                <a>【资讯】陪伴星球VR,开放公测啦！</a>
                                <span>2016-2-1</span>
                            </li>
                            <li>
                                <a>【资讯】陪伴星球VR,开放公测啦！</a>
                                <span>2016-2-1</span>
                            </li>
                            <li>
                                <a>【资讯】陪伴星球VR,开放公测啦！</a>
                                <span>2016-2-1</span>
                            </li>
                        </ul>
                    </div>
                    <div data-tab-panel-1 class="am-tab-panel ">
                        <ul class="news">
                            <li>
                                <a>【资讯】陪伴星球VR,开放公测啦！</a>
                                <span>2016-2-1</span>
                            </li>
                            <li>
                                <a>【资讯】陪伴星球VR,开放公测啦！</a>
                                <span>2016-2-1</span>
                            </li>
                            <li>
                                <a>【资讯】陪伴星球VR,开放公测啦！</a>
                                <span>2016-2-1</span>
                            </li>
                            <li>
                                <a>【资讯】陪伴星球VR,开放公测啦！</a>
                                <span>2016-2-1</span>
                            </li>
                            <li>
                                <a>【资讯】陪伴星球VR,开放公测啦！</a>
                                <span>2016-2-1</span>
                            </li>
                        </ul>
                    </div>
                    <div data-tab-panel-2 class="am-tab-panel ">
                        <ul class="news">
                            <li>
                                <a>【资讯】陪伴星球VR,开放公测啦！</a>
                                <span>2016-2-1</span>
                            </li>
                            <li>
                                <a>【资讯】陪伴星球VR,开放公测啦！</a>
                                <span>2016-2-1</span>
                            </li>
                            <li>
                                <a>【资讯】陪伴星球VR,开放公测啦！</a>
                                <span>2016-2-1</span>
                            </li>
                            <li>
                                <a>【资讯】陪伴星球VR,开放公测啦！</a>
                                <span>2016-2-1</span>
                            </li>
                            <li>
                                <a>【资讯】陪伴星球VR,开放公测啦！</a>
                                <span>2016-2-1</span>
                            </li>
                        </ul>
                    </div>
                    <div data-tab-panel-2 class="am-tab-panel ">
                        <ul class="news">
                            <li>
                                <a>【资讯】陪伴星球VR,开放公测啦！</a>
                                <span>2016-2-1</span>
                            </li>
                            <li>
                                <a>【资讯】陪伴星球VR,开放公测啦！</a>
                                <span>2016-2-1</span>
                            </li>
                            <li>
                                <a>【资讯】陪伴星球VR,开放公测啦！</a>
                                <span>2016-2-1</span>
                            </li>
                            <li>
                                <a>【资讯】陪伴星球VR,开放公测啦！</a>
                                <span>2016-2-1</span>
                            </li>
                            <li>
                                <a>【资讯】陪伴星球VR,开放公测啦！</a>
                                <span>2016-2-1</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="title-contain">
                <div class="title mt-10">游戏特色</div>
                <div data-am-widget="slider" class="am-slider am-slider-a1" id="slide-bar" data-am-slider='{&quot;directionNav&quot;:false}'>
                    <ul class="am-slides">
                        <li>
                            <img src="../../images/shouye_banner3.png">
                        </li>
                        <li>
                            <img src="../../images/shouye_banner3.png">
                        </li>
                        <li>
                            <img src="../../images/shouye_banner3.png">
                        </li>
                    </ul>
                </div>
            </div>
            <div class="title-contain">
                <div class="title mt-10">游戏视频</div>
                <div>
                    <video webkit-playsinline id="my-video" class="video-js" controls preload="auto" width="640" height="264" poster="../../images/bg.png"
                        data-setup="{}">
                        <source src="http://vjs.zencdn.net/v/oceans.mp4" type='video/mp4'>
                        <!-- <source src="MY_VIDEO.webm" type='video/webm'> -->
                    </video>
                </div>
            </div>
            <footer class="footer mt-20">
                <div class="footer-img">
                    <img src="../../images/logo2.png" class="" alt="">
                </div>
                <ul class="footer-tip">
                    <li>健康游戏忠告：抵制不良游戏，拒绝盗版游戏。 注意自我保护，谨防受骗上当。 适度游戏益脑，沉迷游戏伤身。 合理安排时间，享受健康生活。</li>
                    <li>适龄提示：本游戏适合14岁（含）以上玩家娱乐</li>
                    <li>联系方式：官方Q群：131604771，官方微博@陪伴星球VR</li>
                </ul>
                <p class="after-tip">
                        Copyright © 2015 naochuanyue.com All Reserved深圳脑穿越科技有限公司 版权所有 网站备案/许可证：粤ICP 17101251号                    
                </p>
                <p class="after-tip">使用本网站表示接受脑穿越用户协议</p>
            </footer>
        </div>
    </div>
</body>
</body>
<script type="text/javascript" src="../../assets/jquery-2.0.min.js"></script>
<!-- <script type="text/javascript" src="//cdn.amazeui.org/amazeui/2.7.2/js/amazeui.ie8polyfill.min.js" ></script> -->
<script type="text/javascript" src="//cdn.amazeui.org/amazeui/2.7.2/js/amazeui.min.js"></script>
<script type="text/javascript" src="//cdn.amazeui.org/amazeui/2.7.2/js/amazeui.widgets.helper.min.js"></script>

<script src="//vjs.zencdn.net/5.19/video.min.js"></script>
<script type="text/javascript" src="../../js/base.js"></script>
<script type=text/javascript "">
    $(function () {
        var localStorageCache = Window.localStorage || localStorage,
            $closeBtn = $('#closeBtn');
        var $fixBan = $('.fixed-banner');
        var setBtnLocal = function () {
             var btnClass;
             localStorageCache.getItem('disabledBtn')? $fixBan.hide() : $fixBan.show();
        }
        $closeBtn.on('click', function() {
            var $this = $(this);
            // $fixBan.addClass('hide');
            $fixBan.hide();
            localStorageCache.setItem('disabledBtn','true');
        })
        setBtnLocal();
        //清楚存储: For test
        // localStorage.removeItem('disabledBtn');
    })
</script>

</html>